.device-list {
  $gutter: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter;

  &__item-wrapper {
    padding-right: $gutter;
    padding-bottom: $gutter;
    flex: 0 0 25%;
    width: 160px;
    height: 160px;
    display: flex;
  }

  &__item {
    border: 4px solid #666;
    border-radius: 2px;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;

    &--on {
      background-color: #ff9
    }
  }
}
